h1,
h2 {
    font-weight: 500;
    text-align: center;
}

input[type=text] {
    width: 150px;
    height: 24px;
    padding: 3px 8px;
    font-size: 16px;
    line-height: 1.5;
    border: 1px solid #ccc;
    text-align: center;
}

table {
    border-collapse: collapse;
    font-weight: 300;
    margin: auto;
}

th,
td {
    border: solid 1px #EEEEEE !important;
    padding: 4px;
    text-align: center;
}

label {
    display: inline-block;
    width: 120px;
    text-align: right;
    margin-right: 4px;
}

.currency::before {
    content: "$";
}

.form {
    text-align: center;
}

.form>div {
    margin: 6px 0;
    float: none;
    display: inline-block;
}